.container {
    width: 100%;
  }
  
  @media (min-width: 480px) {
    .container {
      max-width: 480px;
    }
  }
  
  @media (min-width: 768px) {
    .container {
      max-width: 768px;
    }
  }
  
  @media (min-width: 976px) {
    .container {
      max-width: 976px;
    }
  }
  
  @media (min-width: 1440px) {
    .container {
      max-width: 1440px;
    }
  }